{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ login_form.as_p }}
        <br>
        <input type="submit" class="button button_buy" value="Войти">
        <a href={% url 'auth:register' %}>
            <input type="button" class="button button_buy" value="Зарегистрироваться">
        </a>
    </form>
{% endblock %}