{% extends 'mainapp/base.html' %}

{% block content %}
    <h1 style="text-align: center; margin-top: 20px">Гитара Schecter Demon-7</h1>
    <div style="text-align: center; margin-top: 20px">
        <a class="guitar_img" href="/static/img/DEMON.png" target="_blank"><img
                src="/static/img/DEMON.png" alt="photo"
                height="200px"
                target="_blank"></a>
    </div>
    <h3 class="heading">Краткое описание товара</h3>
    <p class="description">Новая серия Demon одинаково зловещая и сексуальная.</p>
    <h3 class="heading">Подробное описание товара</h3>
    <p class="description_2">Вооруженные двумя Schecter Diamond Active HB-105S активными хамбакерами, эти демоны
        предоставляют намного больше звука и сустейна по сравнению с их старшим братом AHB-1 Blackouts. Послушайте сами
        и будете приятно удивлены!</p>
    <div>
        <h3 class="heading">Характеристики товара</h3>
        <table class="characteristics">
            <tr>
                <td>Характеристики</td>
                <td>
                    <ul>
                        <li>Наименование модели: Demon-7</li>
                        <li>Цвет гитары: Aged Black Satin (ABSN) – состаренный черный</li>
                        <li>Модификация: праворукая</li>
                        <li>Страна производитель: Индонезия</li>
                        <li>Крепление грифа: на болтах</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Материал и параметры</td>
                <td>
                    <ul>
                        <li>Материал корпуса: липа</li>
                        <li>Верх корпуса: клен</li>
                        <li>Контур верха корпуса: выпуклый</li>
                        <li>Материал грифа: клен</li>
                        <li>Окантовка: 1-слойная, кремовая</li>
                        <li>Накладка грифа: палисандр</li>
                        <li>Маркеры ладов: серые готические кресты</li>
                        <li>Мензура: 26.5” (673 мм)</li>
                        <li>Лады: 24 X-Jumbo</li>
                        <li>Радиус накладки грифа: 16” (406 мм)</li>
                        <li>Профиль грифа: тонкий "С"</li>
                        <li>Толщина грифа: 1 лад – 0,787" (20 мм)/в 12 ладу – 0,866 (22 мм)</li>
                        <li>Ширина порожка: 1,889" (48мм)</li>
                        <li>Верхний Порожек: Graph Tech XL Black Tusq</li>
                        <li>Анкер: двойной, регулируемый с 4 мм анкерным болтом</li>
                        <li>Цвет фурнитуры: черный хром</li>
                        <li>Бридж: Schecter Custom Hardtail/струны через корпус</li>
                        <li>Колки: Schecter</li>
                        <li>Струны: Ernie Ball Regular Slinky 7#2621 (.010-.056)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Электроника</td>
                <td>
                    <ul>
                        <li>Бриджевый звукосниматель: Schecter Diamond Active HB-105S</li>
                        <li>Нековый звукосниматель: Schecter Diamond Active HB-105S</li>
                        <li>Регулировки: громкость/громкость/тон(Push-Pull)/3-поз. переключатель</li>
                        <li>Ручки регулировок: металлические рифленые</li>
                        <li>Отделение для батарейки: есть, 9V батарейка</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
