{% if object.status == 'FM' %}
    <a href={% url 'ordersapp:order_forming_complete' object.pk %}>
        <input type="button" class="button button_buy green" value="Совершить покупку">
    </a>

    <a href={% url 'ordersapp:order_delete' object.pk %}>
        <input type="button" class="button button_buy red" value="Удалить">
    </a>
{% endif %}
<a href={% url 'ordersapp:orders_list' %}>
    <input type="button" class="button button_buy" value="К списку заказов">
</a>
<a href={% url 'main' %}>
    <input type="button" class="button button_buy" value="На главную">
</a>